<div id="trips" class="container">
  <div *ngIf="currentTrips">
  <h1>
    Your current trips <button (click)="createTripOffer()" mat-button color="primary">Create a trip</button>
  </h1>
  
  <div class="row">
    <div *ngFor="let trip of currentTrips" class="col col-md-6">
        <Card (clickEmitter)="goToTripPage($event)" [type]="tripsType[1]" [data]="trip"></Card>
    </div>
  </div>
</div>
<div *ngIf="pendingTrips">
  <h1>
    Your pending trips
  </h1>
  <mat-tab-group (selectedTabChange)="changeTab($event.tab.textLabel)">
    <mat-tab label="Upcoming"></mat-tab>
    <mat-tab label="Pending"></mat-tab>
    <mat-tab label="Completed"></mat-tab>
    <mat-tab label="Cancelled"></mat-tab>
  </mat-tab-group>
  <br />
  <div class="row">

    <Card *ngFor="let trip of results" (clickEmitter)="goToPage($event)" (actionEmitter)="handleTrip($event)" [type]="tripsType[0]" [data]="trip" class="col col-md-6"></Card>
  </div>
</div>
</div>
