<div *ngIf="data && (type === 'locals' || type === 'local')">
  <mat-card (click)="clicked()" class="card clicky" [ngStyle]="{'width.px': size === 's' ? '200' : ''}">
    <img mat-card-image src="https://source.unsplash.com/30{{data.user.id%9}}x30{{data.id%9}}/?people,woman,man,lady,guy" alt="">
    <mat-card-content class="card-floating">
      <span class="name">{{ data.user.name || data.user.email }}</span>
      <span class="city">{{ city }}</span>
    </mat-card-content>
    <mat-card-footer>
      <i class="material-icons">star_rate</i> <span class="card-rating">{{data.rating}}</span> <span class="card-reviews">({{data.review_count}} Reviews)</span>
    </mat-card-footer>
  </mat-card>
</div>

<div *ngIf="data && (type === 'trip-offer')">
  <mat-card class="card" [ngStyle]="{'width.px': size === 's' ? '200' : ''}">
    <mat-card-title class="trip-offer-card-title">
      {{ data.title }}
    </mat-card-title>
    <mat-card-content class="trip-offer-local">
      <span class="to-avatar" [ngStyle]="{'background-image': 'url(https://source.unsplash.com/100x10'+data.id%9+'/?people,woman,man,lady,guy)'}"></span>
      <span class="to-name">{{data.user.name || "Host"}}</span>
      <span class="to-email">{{data.user.email}}</span>
    </mat-card-content>
    <mat-card-content class="trip-offer-card-content">
      {{data.description}}
    </mat-card-content>
    <mat-card-footer>
      <span>
        <i class="material-icons">star_rate</i> <span class="card-rating">{{data.rating}}</span> <span class="card-reviews">({{data.review_count}} Reviews)</span>
      </span>
      <span class="trip-offer-buttons">
        <button mat-button (click)="openLocal()">SHOW LOCAL</button>
        <button mat-button (click)="clicked()">OPEN TRIP</button>
      </span>
    </mat-card-footer>
  </mat-card>
</div>
<div *ngIf="data && (type === 'booking') && trip">
  <mat-card class="card" [ngStyle]="{'width.px': size === 's' ? '200' : ''}">
    <mat-card-title>
      {{ trip.title }}
    </mat-card-title>
    <mat-card-content>
      {{trip.user.email}}
    </mat-card-content>
    <mat-card-content class="trip-card-content">
      {{trip.description}}
    </mat-card-content>
    <mat-card-footer>
      <span>
        {{data.status}}
      </span>
      <span>
        <button mat-button (click)="clicked({ id : data.user_id === user.id ? trip.user.id : data.user_id, type: 'user' })" *ngIf="user && data.local_id">Show {{ data.user_id === user.id ? 'Local' : 'User'}}</button>
      </span>
      <span>
        <button mat-button (click)="clicked({ id : data.trip_id || data.id, type: 'trip' })">OPEN TRIP</button>
      </span>
      <span>
        <button mat-button (click)="handleAction('ACCEPT')" *ngIf="(user && user.id !== data.user_id && data.status == '1') || (data.status === undefined && user && user.id !== data.user.id)">ACCEPT</button>
      </span>
      <span>
        <button mat-button (click)="handleAction('DENY')" *ngIf="data.status != '0'">CANCEL</button>
      </span>
    </mat-card-footer>
  </mat-card>
</div>
<div *ngIf="data && type === 'city' && location">
  <mat-card (click)="clicked()" class="card clicky" [ngStyle]="{'width.px': size === 's' ? '200' : ''}">
    <div class="card-inner-wrap">
      <img mat-card-image src="https://source.unsplash.com/300x30{{location.id%9}}/?city" alt="">
      <mat-card-title class="city-card-title">
        {{ location.name }}
      </mat-card-title>
    </div>
    <mat-card-footer>
      <span class="city-card-total">Total number of trips: {{ totalTrips }}</span>
      <!-- <span class="city-card-rating"><i class="material-icons">star_rate</i> <span class="card-rating">{{data.rating}}</span> <span class="card-reviews">({{data.review_count}} Reviews)</span></span> -->
    </mat-card-footer>
  </mat-card>
</div>
<div *ngIf="data && type === 'review' && reviewer">
  <mat-card class="review-card" [ngStyle]="{'width.px': size === 's' ? '200' : ''}">
    <mat-card-content class="trip-offer-local">
      <span class="to-avatar" [ngStyle]="{'background-image': 'url(https://source.unsplash.com/100x10'+data.id%9+'/?people,woman,man,lady,guy)'}"></span>
      <span class="to-name">{{reviewer.name || "Unknown"}}</span>
      <span class="to-email">{{reviewer.email}}</span>
    </mat-card-content>
    <mat-card-content>
      {{ data.text }}
    </mat-card-content>
    <mat-card-footer>
      <i *ngFor="let i of Arr(data.stars).fill(1)" class="material-icons">star_rate</i><i *ngFor="let i of Arr(5-data.stars).fill(1)" class="material-icons">star_border</i>
    </mat-card-footer>
  </mat-card>
</div>
