<div id="apply" *ngIf="type === 'apply'">
<h1 matDialogTitle>
  Apply as a local!
</h1>
<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Tells us more about yourself!</ng-template>
        <mat-form-field>
          <input matInput placeholder="More about your background!" formControlName="background">
        </mat-form-field> <br />
        <mat-form-field>
          <input matInput placeholder="An inspirational quote?" formControlName="quote">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your city of choice</ng-template>
        <mat-form-field>
              <input matInput placeholder="Your desired city:" (keyup)="keyUp.next($event)" [matAutocomplete]="auto" formControlName="city" required>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
                  <mat-option *ngFor="let item of autocomplete" [value]="item.name" (click)="selectCity(item)">
                    <span>{{ item.name }}</span>
                  </mat-option>
                </mat-autocomplete>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button (click)="processData()">Close</button>
      </div>
    </mat-step>
</mat-horizontal-stepper>
</div>

<div id="book" *ngIf="type === 'book'">
  <h1 matDialogTitle>
    Book a trip!
  </h1>
</div>

<div id="create-trip" *ngIf="type === 'create-trip'">
  <h1 matDialogTitle>
    Book a trip!
  </h1>
</div>

<div id="trip-request" *ngIf="type === 'request-trip'">
  <h1 matDialogTitle>

  </h1>
</div>
