<h1 matDialogTitle>
  Apply as a local!
</h1>
<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Tells us more about yourself!</ng-template>
        <mat-form-field>
          <input matInput placeholder="More about your background!">
        </mat-form-field> <br />
        <mat-form-field>
          <input matInput placeholder="An inspirational quote?">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your city of choice</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>When are you available?</ng-template>
        <mat-form-field>
          <input matInput [matDatepicker]="dp3" placeholder="Available from?" disabled>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="dp2" placeholder="Available to?" disabled>
          <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
          <mat-datepicker #dp2 disabled="false"></mat-datepicker>
        </mat-form-field>
          <mat-checkbox>Always available?</mat-checkbox>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
</mat-horizontal-stepper>
<button mat-button mat-dialog-close (click)="onClose()">Close</button>
