<div id="apply" *ngIf="type === 'apply'">
<h1 matDialogTitle>
  Apply as a local!
</h1>
<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Tells us more about yourself!</ng-template>
        <mat-form-field>
          <input matInput placeholder="More about your background!" formControlName="background">
        </mat-form-field> <br />
        <mat-form-field>
          <input matInput placeholder="An inspirational quote?" formControlName="quote">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your city of choice</ng-template>
        <mat-form-field>
              <input matInput placeholder="Your desired city:" (keyup)="keyUp.next($event)" [matAutocomplete]="auto" formControlName="city" required>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
                  <mat-option *ngFor="let item of autocomplete" [value]="item.name" (click)="selectCity(item)">
                    <span>{{ item.name }}</span>
                  </mat-option>
                </mat-autocomplete>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button (click)="processData()">Close</button>
      </div>
    </mat-step>
</mat-horizontal-stepper>
</div>

<div id="book" *ngIf="type === 'book'">
  <h1 matDialogTitle>
    Book a local for a trip!
  </h1>
  <mat-horizontal-stepper [linear]="true">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>How should we name your trip?</ng-template>
          <mat-form-field>
            <input matInput placeholder="Trip's title" formControlName="title" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>What is your trip about</ng-template>
          <mat-form-field>
                <input matInput placeholder="Trip's description" formControlName="description" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Number of people</ng-template>
          <mat-form-field>
                <mat-select placeholder="Number of people">
                  <mat-option *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number" (click)="selectNumberOfPeople(number)" required>
                    {{ number }}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="forthFormGroup">
        <form [formGroup]="forthFormGroup">
          <ng-template matStepLabel>In what period will be your trip?</ng-template>
            <mat-form-field>
              <input matInput [matDatepicker]="dp3" placeholder="From date" formControlName="from" required>
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 ></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="dp2" placeholder="To date" formControlName="to" required>
              <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
              <mat-datepicker #dp2 ></mat-datepicker>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button (click)="bookALocal()">Close</button>
        </div>
      </mat-step>
  </mat-horizontal-stepper>
</div>

<div id="create-trip" *ngIf="type === 'create-trip'">
  <h1 matDialogTitle>
    Create a trip!
  </h1>
  <mat-horizontal-stepper [linear]="true">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>How should we name your trip?</ng-template>
          <mat-form-field>
            <input matInput placeholder="Trip's title" formControlName="title" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>What is your trip about</ng-template>
          <mat-form-field>
                <input matInput placeholder="Trip's description" formControlName="description" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Number of people</ng-template>
          <mat-form-field>
                <!-- <input matInput placeholder="Trip's description" formControlName="numberOfPeople" required> -->
                <mat-select placeholder="Number of people">
                  <mat-option *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number" (click)="selectNumberOfPeople(number)" required>
                    {{ number }}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button (click)="createATrip()">Close</button>
        </div>
      </mat-step>
  </mat-horizontal-stepper>
</div>

<div id="trip-request" *ngIf="type === 'request-trip'">
  <h1 matDialogTitle>
    Request a trip!
  </h1>
  <mat-horizontal-stepper [linear]="true">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>How should we name your request?</ng-template>
          <mat-form-field>
            <input matInput placeholder="Trip request's title" formControlName="title" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>What is your trip about</ng-template>
          <mat-form-field>
                <input matInput placeholder="Trip request's description" formControlName="description" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Number of people</ng-template>
          <mat-form-field>
                <mat-select placeholder="Number of people">
                  <mat-option *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number" (click)="selectNumberOfPeople(number)" required>
                    {{ number }}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="forthFormGroup">
        <form [formGroup]="forthFormGroup">
          <ng-template matStepLabel>In what period will be your trip?</ng-template>
            <mat-form-field>
              <input matInput [matDatepicker]="dp3" placeholder="From date" formControlName="from" required>
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 ></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="dp2" placeholder="To date" formControlName="to" required>
              <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
              <mat-datepicker #dp2 ></mat-datepicker>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button (click)="requestATrip()">Close</button>
        </div>
      </mat-step>
  </mat-horizontal-stepper>
</div>

<div id="book-trip" *ngIf="type === 'book-trip'">
  <h1 matDialogTitle>
    Book a trip!
  </h1>
  <mat-horizontal-stepper [linear]="true">
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Number of people</ng-template>
          <mat-form-field>
                <mat-select placeholder="Number of people">
                  <mat-option *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number" (click)="selectNumberOfPeople(number)" required>
                    {{ number }}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="forthFormGroup">
        <form [formGroup]="forthFormGroup">
          <ng-template matStepLabel>In what period will be your trip?</ng-template>
            <mat-form-field>
              <input matInput [matDatepicker]="dp3" placeholder="From date" formControlName="from" required>
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 ></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="dp2" placeholder="To date" formControlName="to" required>
              <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
              <mat-datepicker #dp2 ></mat-datepicker>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button (click)="bookATrip()">Close</button>
        </div>
      </mat-step>
  </mat-horizontal-stepper>
</div>
<div id="error" *ngIf="type === 'error' && error">
  <h1 matDialogTitle>
    Error!
  </h1>
  <div matDialogContent> {{ error }}</div>
</div>
<div id="error" *ngIf="type === 'errors' && error">
  <h1 matDialogTitle>
    Error!
  </h1>
  <div matDialogContent>
    <ul>
      <li *ngFor="let the_value of error">
        {{ the_value }}
      </li>
    </ul>
  </div>
</div>
