<div id="login">

  <div class="loginBg"></div>
  
  <div class="loginBlock" fxLayoutAlign="center center">
      <mat-card>
        <div class="mat-card-child" fxLayout="column" fxLayout.gt-sm="row">
          <div class="welcomeBlock" fxFlex="100%" fxFlex.gt-sm="40%" >
            <div class="welcomeBlock-Logo"><img src="assets/logo.png"/></div>
            <div fxHide.xs>
              <div class="welcomeBlock-Greeting">Welcome!</div>
              <ul>
                  <li><i class="material-icons">label</i> Meet people from new locations</li>
                  <li><i class="material-icons">label</i> See the city through their eyes</li>
                  <li><i class="material-icons">label</i> Share your trip experience</li>
                  <li><i class="material-icons">label</i> Request and offer trips</li>
                  <li><i class="material-icons">label</i> Become a local in your area</li>
              </ul>
            </div>
          </div>
          <div class="authBlock" fxFlex="100%" fxFlex.gt-sm="60%" >
            <div *ngIf="viewState">
              <mat-card-title>Sign up</mat-card-title>
              <mat-card-content >
                <form class="example-form" fxLayout="column">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="First name" required [formControl]="nameFormControl">
                    <mat-error *ngIf="nameFormControl.hasError('required')">
                      This field is required
                    </mat-error>
                    <mat-error *ngIf="nameFormControl.hasError('pattern')">
                      Please enter a valid name
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Email" [formControl]="emailFormControl" required>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      This field is required
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('pattern')">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Password" required [formControl]="passwordFormControl">
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                      This field is required
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('pattern')">
                      Please enter a password with minimum eight characters, at least one letter and one number
                    </mat-error>
                  </mat-form-field>
                </form>
      
                <button class="submitButton" mat-raised-button color="primary" (click)="signUp()">Sign up</button>
              </mat-card-content>
            </div>
            <div *ngIf="!viewState">
              <mat-card-title>Sign in</mat-card-title>
              <mat-card-content>
                <form class="example-form" fxLayout="column">
                  <mat-form-field>
                    <input matInput placeholder="Email" [formControl]="emailFormControl" required>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      This field is required
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('pattern')">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Password" required [formControl]="passwordFormControl">
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                      This field is required
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('pattern')">
                      Please enter a password with minimum eight characters, at least one letter and one number
                    </mat-error>
                  </mat-form-field>
                </form>
                
                <button class="submitButton" mat-raised-button color="primary" (click)="signIn()">Sign in</button>
                
              </mat-card-content>
            </div>
          </div>
        </div>
          
        <span class="linkAfterCard" (click)="goBack()"><i class="material-icons">home</i> Go back</span>
        <span class="switchState linkAfterCard" (click)="switchState()">{{ viewState ? "Already have an" : "Don't have an" }} <b>account</b>?</span>
      </mat-card>
  </div>
  

</div>
