.switchState {
  margin-bottom: 10px;
}

.signUp {
  // max-width: 400px;
}

.submitButton {
  margin-top: 20px;
}

// .example-form {
//   min-width: 300px;
//   max-width: 500px;
//   width: 100%;
// }
//
// .example-full-width {
//   width: 100%;
// }
// mat-card {
//     min-width: 150px;
//     max-width: 400px;
// }

mat-form-field {
  margin-right: 5px;
}
