<div id="topBar">
  <mat-progress-spinner *ngIf="!params" mode="indeterminate" color="primary" >
   </mat-progress-spinner>
  <div class="navigation" *ngIf="params">
    <a class="clicky" (click)="navigateTo('home')"> <img src="assets/logo_symbol.svg"/></a> <!-- Add clicky-->
    <button *ngIf="params && params.currentModule === 'home'" class="menu-button" mat-raised-button color="primary" (click)="navigateTo('home')">Home</button>
    <button *ngIf="params && params.currentModule !== 'home'" class="menu-button" mat-button color="primary" (click)="navigateTo('home')">Home</button>
    <button *ngIf="params && params.currentModule === 'trips'" class="menu-button" mat-raised-button color="primary" (click)="navigateTo('trips')">Trips</button>
    <button *ngIf="params && params.currentModule !== 'trips'" class="menu-button" mat-button color="primary" (click)="navigateTo('trips')">Trips</button>
    <button *ngIf="params && params.currentModule === 'locals'" class="menu-button" mat-raised-button color="primary" (click)="navigateTo('locals')">Locals</button>
    <button *ngIf="params && params.currentModule !== 'locals'" class="menu-button" mat-button color="primary" (click)="navigateTo('locals')">Locals</button>
    <!-- Because currently conditional directives arent supported. -->

    <button *ngIf="!_UserService.user" class="menu-button" mat-raised-button color="accent" (click)="navigateTo('login')">LOGIN</button>
    <button *ngIf="_UserService.user" class="menu-button" mat-raised-button color="accent" (click)="logout()">LOGOUT</button>

    <button class="menu-button" mat-raised-button color="accent" (click)="updateUser()">arg</button>
  </div>
  <div class="search">
    <form class="example-form" fxLayout="column">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search" (keyup)="keyUp.next($event)" [matAutocomplete]="auto" [formControl]="searchFormContol">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
          <mat-option *ngFor="let item of autocomplete" [value]="item.name">
            <span>{{ item.name }}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="searchFormContol.hasError('pattern')">
          Please enter a valid search word.
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
