<div id="User" *ngIf="user">

  <div class="headerBlock">
    <div class="bgShadow"></div>
    <div class="container">
      <div class="avatar"></div>
      <h2 class="name">{{ user.name.length > 0 ? user.name : user.email  }} {{ user.lastname }}</h2>
      <div class="location"></div>
      <div class="buttons">
          <button *ngIf="params && !isGuest && !isUser && user && user.available" (click)="bookATrip()" mat-raised-button color="primary">Book a trip</button>
          <button *ngIf="params && !isGuest && isUser && user && user.has_local === false" mat-raised-button color="basic" (click)="localApply()">Apply as a local person</button>
      </div>
    </div>
  </div>

  <div class="contentBlock">
    <div class="container">
        <mat-tab-group *ngIf="user && user.available !== undefined" (selectedTabChange)="changeTab($event.tab.textLabel)">
          <mat-tab label="Details"></mat-tab>
          <mat-tab label="Reviews"></mat-tab>
        </mat-tab-group>
        <mat-tab-group *ngIf="user && user.available === undefined">
          <mat-tab label="Details"></mat-tab>
        </mat-tab-group>
        <div class="Details" *ngIf="tab === 'Details'">
          <div class="details-field">
            <div class="field-label">Age</div>
            <div class="field-value">16</div>
          </div>
          <div class="details-field">
            <div class="field-label">Gender</div>
            <div class="field-value">Male</div>
          </div>
        </div>
        <div class="Reviews" *ngIf="tab === 'Reviews' && reviews">
          <button *ngIf="params && !isGuest && !isUser && user" (click)="createReview()" mat-button color="primary">Post a review!</button>
          <Card *ngFor="let review of reviews" [type]="'review'" [data]="review"></Card>
        </div>
    </div>
  </div>
  
</div>
