<div id="searchResults">
  <div class="results" *ngIf="searchResults">
    <div class="locals" *ngIf="type === 'locals'">
      <Card *ngFor="let result of searchResults" [data]="result" [type]="type" [size]="size" (clickEmitter)="goToProfilePage($event)"></Card>
    </div>
    <div class="trip" *ngIf="type === 'trips'">
      <button *ngIf="user" (click)="createTripRequest()" mat-button color="primary">Request a trip</button>
      <Card *ngFor="let trip of searchResults" (clickEmitter)="goToTripPage($event)" [type]="tripsType[1]" [data]="trip"></Card>
    </div>
  </div>
</div>
