<div id="searchResults" class="container">
  <div class="results" *ngIf="searchResults">

    <!-- Locals tab -->
    <div class="locals" *ngIf="type === 'locals'">
      <!-- Details block -->
      <div class="detailsBlock">
        Discover <b>{{ currentCity | Decode }}</b>, with one of the <b>{{ searchResults.length }} locals</b> who are ready to show you around.
      </div>
      <!-- List the results -->
      <Card *ngFor="let result of searchResults" [data]="result" [type]="type" [size]="size" (clickEmitter)="goToProfilePage($event)"></Card>
    </div>

    <!-- Trips tab -->
    <div class="trip" *ngIf="type === 'trips'">
      <!-- Details block -->
      <div class="detailsBlock">
        Discover <b>{{ currentCity | Decode }}</b>, choose one of the <b>{{ searchResults.length }} trip offers</b> that the local people have organized for you!
        <div class="detailsBlockButtons">
          <button *ngIf="user" (click)="createTripRequest()" mat-raised-button color="primary">Request a trip</button>
        </div>
      </div>
      <!-- List the results -->
      <Card *ngFor="let trip of searchResults" (clickEmitter)="goToTripPage($event)" [type]="tripsType[1]" [data]="trip"></Card>
    </div>
    <div class="trip" *ngIf="type === 'cities'">
      <Card *ngFor="let city of searchResults" (clickEmitter)="searchForCity($event)" [type]="tripsType[2]" [data]="city"></Card>
    </div>
    <div class="trip" *ngIf="type === 'reviews'">
      <button *ngIf="user" (click)="createReview()" mat-button color="primary">Post a review!</button>
      <Card *ngFor="let trip of searchResults" [type]="tripsType[3]" [data]="trip"></Card>
    </div>
    <div class="trip" *ngIf="type === 'requested trips'">
      <Card *ngFor="let trip of searchResults" (clickEmitter)="goToPage($event)" (actionEmitter)="handleTrip($event)" [type]="tripsType[0]" [data]="trip"></Card>
    </div>
  </div>
</div>
